.container__big-card {
    width: 450px;
    height: 550px;
    padding: 10px;
    margin: 0 20px;
}

.container__big-card > a {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
}

.container__big-card > a > h1 {
    margin: 15px 0;
}

.container__big-card > a > h1:hover {
    text-decoration: underline;
}

.container__big-card > a > p {
    color: grey;
    text-align: justify;
}

.container__big-card > a> img {
    width: 100%;
    min-width: 450px;
}