<div class="container__big-card">
        <a href="#">
                <img src="https://s3-alpha.figma.com/hub/file/4093188630/561dfe3e-e5f8-415c-9b26-fbdf94897722-cover.png" alt="imagem do artigo" height="250px">
                <h1>Saiu a nova versão do Angular</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem laborum voluptatum doloremque aut nisi quod fugiat, eligendi possimus, in beatae eius ex quis quam asperiores? Libero debitis totam similique rerum?</p>
        </a>
</div>
