.container__menu-title {
    color: white;
}

.container__menu-title > h1 {
    text-align: center;
    margin: .3em 0;
    font-size: 8em;
    font-family: 'segoe UI';
}

.container__menu-title > hr.down {
    margin-bottom: 2.6em;
}