<app-menu-title></app-menu-title>
<div class="articles">
    <div class="articles__main">
        <app-big-card
        id="1" 
        photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS88XZj2dV2U97WxM7D9l2nRBSSa2g_B-pUJg&s"
        cardTitle="NOVO IRON MAN ANUNCIADO"
        cardDescription="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque consectetur cumque soluta reiciendis ipsa itaque ut saepe deleniti eveniet, sit quibusdam beatae rerum blanditiis velit impedit vel exercitationem voluptas ratione."
        ></app-big-card>
    </div>
    <div class="articles__others">
        <ul>
            <li>
                <app-small-card
                id="2"
                photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJNG_xytda6fP_0RpiaT7QXZQVJuvcX5MwYA&s"
                cardTitle="O verdadeiro traje do 'Iron-Man'"
                ></app-small-card>
            </li>
            <li>
                <app-small-card
                id="3"
                photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7TrXYmtQ6gMGuZfLbdzZWhI8scFDuQ87wxw&s"
                cardTitle="Robert Downey Jr e seus planos para o 'Iron-Man'"
                ></app-small-card>
            </li>
            <li>
                <app-small-card
                id="4"
                photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnhwvo6kopXYUSDNK7Q1orgZ38e0xk-JdHTA&s"
                cardTitle="IRON MAN MARK III LIFE SIZE STATUE"
                ></app-small-card>
            </li>
            <li>
                <app-small-card
                id="5"
                photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWHlTUrNGibgwzuVflvlqXQnqHCL9SVMM05w&s"
                cardTitle="Iron Man VR: Minigames e segredos do game"
                ></app-small-card>
            </li>
        </ul>
    </div>
</div>