@media screen and (max-width: 1200px) {
    .articles {
        flex-flow: column;
        margin-bottom: 20px;
    }

    .articles > .articles__others > ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .articles-rest > .articles-rest__content {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 910px) {
    .articles {
        margin-bottom: 20px;
    }

    .articles-rest > .articles-rest__content {
        grid-template-columns: 1fr 1fr;
    }

    .articles > .articles__others > ul {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 610px) {
    .articles {
        margin-bottom: 20px;
    }

    .articles-rest > .articles-rest__content {
        grid-template-columns: 1fr;
    }
}