<div class="container__menu-bar">
    <div class="main-content">
        <a href="#">
            <div class="menu-bar__profile">
                <span>F</span>
            </div>
        </a>
        <nav class="menu-bar__options">
            <ul>
                <a href="#">
                    <li>Learn</li>
                </a>
                <a href="#">
                    <li>Blog</li>
                </a>
                <a href="#">
                    <li>Bookmarks</li>
                </a>
                <a href="#">
                    <li>Ui Eit</li>
                </a>
                <a href="#">
                    <li>Lain Nya</li>
                </a>
            </ul>
        </nav>
    </div>
    <div class="menu-bar__contats">
        <ul>
            <li>
                <a href="#">
                    <img src="../../../assets/icons8-twitter-24.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../../../assets/icons8-instagram-24.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../../../assets/icons8-menu-superior-24.png" alt="">
                </a>
            </li>
        </ul>
    </div>
</div>
