<div class="container__menu-bar">
    <div class="main-content">
        <a href="#">
            <div class="menu-bar__profile">
                <span>F</span>
            </div>
        </a>
        <nav class="menu-bar__options">
            <ul>
                <a href="#">
                    <li>Learn</li>
                </a>
                <a [routerLink]="['']">
                    <li>Blog</li>
                </a>
                <a href="#">
                    <li>Bookmarks</li>
                </a>
            </ul>
        </nav>
    </div>
    <div class="menu-bar__contats">
        <ul>
            <li>
                <a href="https://x.com/FelipeS727" target="_blank">
                    <img src="assets/icons8-twitter-24.png" alt="Twitter">
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/fe.lxp/" target="_blank">
                    <img src="assets/icons8-instagram-24.png" alt="Instagram">
                </a>
            </li>
            <li>
                <a href="https://github.com/fsantosandrade" target="_blank">
                    <img src="assets/icons8-github-24.png" alt="Github">
                </a>
            </li>
        </ul>
    </div>
</div>
