.container__menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    font-weight: 100;
}

.container__menu-bar > .main-content {
    display: flex;
    align-items: center;
}

.container__menu-bar > .main-content > a > .menu-bar__profile {
    background: linear-gradient(to bottom, red, blue);
    margin-right: 20px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__menu-bar > .main-content > a > .menu-bar__profile > span {
    background-color: transparent;
}

.container__menu-bar > .main-content > .menu-bar__options > ul,
.container__menu-bar > .menu-bar__contats > ul {
    display: flex;
}

.container__menu-bar > .main-content > .menu-bar__options > ul > a,
.container__menu-bar > .main-content > a {
    text-decoration: none;
}

.container__menu-bar > .main-content > .menu-bar__options > ul > a:hover {
    font-weight: 400;
}

.container__menu-bar > .main-content > .menu-bar__options > ul > a > li {
    margin-right: 20px;
    font-size: 15px;
}

.container__menu-bar > .menu-bar__contats > ul > li {
    margin-left: 20px;
}