.container__base-card {
    width: 250px;
    height: 350px;
    padding: 10px;
    margin: 30px 20px 30px 20px;
}

.container__base-card > a {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
}

.container__base-card > a > h1 {
    margin: 15px 0;
    font-size: 22px;
}

.container__base-card > a > h1:hover {
    text-decoration: underline;
}

.container__base-card > a > p {
    color: grey;
    text-align: justify;
    font-size: 13.9px;
}

.container__base-card > a > img {
    width: 100%;
    min-width: 250px;
    max-height: 150px;
}

@media screen and (max-width: 1200px) {
    .container__base-card {
        margin: 20px 20px 20px 20px;
    }
}

@media screen and (max-width: 610px) {
    .container__base-card {
        width: 420px;
        height: 350px;
        margin: 5px 0px 5px 0px;
    }

    .container__base-card > a > p {
        display: none;
    }
}