.container__base-card {
    width: 250px;
    height: 350px;
    padding: 10px;
    margin: 40px 20px 40px 20px;
}

.container__base-card > a {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
}

.container__base-card > a > h1 {
    margin: 15px 0;
    font-size: 22px;
}

.container__base-card > a > h1:hover {
    text-decoration: underline;
}

.container__base-card > a > p {
    color: grey;
    text-align: justify;
    font-size: 13.9px;
}

.container__base-card > a> img {
    width: 100%;
    min-width: 250px;
}