/* You can add global styles to this file, and also import other style files */
@charset "UTF-8";

:root {
    --dark: #111111;
    --light: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--dark);
    color: var(--light);
    font-family: "Segoe UI";
    list-style: none;
}